
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<%= link_to 'index', users_path%>
<%= link_to 'create again', "/create_fast?name=#{@user.name}&email=#{@user.email}"%>
